{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Drymaster Carpet Cleaning Accreditations</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
    <!-- Animation -->
    <link rel="stylesheet" type="text/css" href="css/animations.css">
    <!-- Stylesheets -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="css/responsive.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="drymaster/owl-crsl.css">
    <link rel="stylesheet" href="drymaster/owl-theme.css">
    <!-- Call Now -->
        <style>
           #callnowbutton {display:none;} @media screen and (max-width:650px){#callnowbutton {display:block; position:fixed; text-decoration:none; z-index:2147483647;width:100%;left:0;bottom:0;height:60px;border-top:1px solid #2dc62d; border-bottom:1px solid #006700;text-shadow: 0 1px #006700; text-align:center;color:#fff; font-weight:600; font-size:120%;  overflow: hidden;padding-right:20px;background:#009900;display: flex; justify-content: center; align-items: center;}body {padding-bottom:60px;}}
        </style>
        <style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}
        </style>
        <style type='text/css'>
        .site-title a,.site-title a:visited{color:ffffff;}
        </style>
    <!-- End Of Call Now -->
</head>
<body>
    <!-- Main Header / Style Three-->
    <header class="main-header header-style-three bg-top page-top">
            <!--Header-Lower-->
            <div class="header-lower">
                <div class="container">
                    <div class="nav-outer clearfix">
                        <!--Logo-->
                        <div class="logo">
                            <a href="{% url 'index' %}"><img class="img-responsive" src="{% static 'myapp/images/logo.png' %}" alt="Dry Master Carpet Cleaning"></a>
                        </div>
                        <!-- <div class="col-md-8">
                                {% if messages %}
                                  {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}">
                                      {{ message }}
                                    </div>
                                  {% endfor %}
                                {% endif %}
                        </div>  -->
                        <nav class="main-menu">
                            <div class="navbar-header">    
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li><a href="{% url 'index' %}">Home</a></li>
                                    <li class="dropdown"><a href="{% url 'about' %}">About Us</a>
                                        <ul>
                                            <li><a href="{% url 'faq' %}">FAQ</a></li>
                                            <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a>
                                            </li>
                                            <li><a href="{% url 'terms_and_conditions' %}">Terms & Conditions</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Service</a>
                                        <ul>
                                            <li><a href="{% url 'carpet_steam_cleaning' %}">Carpet Steam Cleaning</a></li>
                                            <li><a href="{% url 'carpet_dry_clean' %}">Carpet Dry Cleaning</a></li>
                                            <li><a href="{% url 'rug_cleaning' %}">Rug Cleaning</a></li>
                                            <li class="dropdown"><a href="#">Upholstery</a>
                                                <ul>
                                                    <li><a href="{% url 'leather_sofa_leaning' %}" >Leather Sofa Cleaning</a></li>
                                                    <li><a href="{% url 'leather_sofa_leaning' %}">Leather Sofa Cleaning</a></li>
                                                    <li><a href="{% url 'fabric_sofa_cleaning' %}" >Fabric Sofa Cleaning</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'water_damage' %}" >Water Damage</a></li>
                                            <li><a href="{% url 'tile_and_grout_cleaning' %}">Tile &#038; Grout</a></li>
                                            <li class="dropdown"><a href="#">Stains &#038; Spots</a>
                                                <ul>
                                                    <li><a href="{% url 'anti_allergen_cleaning' %}">Anti Allergen Cleaning</a></li>
                                                    <li><a href="{% url 'filtration_soiling' %}"  >Filtration Soiling</a></li>
                                                    <li><a href="{% url 'pet_stains_treatments' %}">Pet Stains &#038; Treatments</a></li>
                                                    <li><a href="{% url 'heavy_soiled_carpets' %}"  >Heavy Soiled Carpets</a></li>
                                                    <li><a href="{% url 'cleaning_agents' %}">Cleaning Agents</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'mattress_cleaning' %}">Mattress</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Service Location</a>
                                        <ul>
                                            <li class="dropdown"><a href="{% url 'newcastle' %}">Newcastle</a>
                                                <ul>
                                                    <li><a href="{% url 'carpet_cleaning_newcastle' %}">Carpet Cleaning Newcastle</a></li>
                                                    <li><a href="{% url 'mattress_cleaning_newcastle' %}">Mattress Cleaning Newcastle</a></li>
                                                    <li><a href="{% url 'rug_cleaning_newcastle' %}">Rug Cleaning Newcastle</a></li>
                                                    <li><a href="{% url 'water_damage_newcastle' %}">Water Damage Newcastle</a></li>
                                                </ul>
                                            </li>
    
                                            <li class="dropdown"><a href="{% url 'goldcoast' %}">Gold Coast</a>
                                                <ul>
                                                   
                                                    <li><a href="{% url 'rug_cleaning_gold_coast' %}">Rug Cleaning Gold Coast</a></li>
                                                    <li><a href="{% url 'sofa_cleaning_gold_coast' %}">Sofa Cleaning Gold Coast</a></li>
                                                    <li><a href="{% url 'mattress_cleaning_gold_coast' %}">Mattress Cleaning Gold Coast</a></li>
                                                    <li><a href="{% url 'water_damage_gold_coast' %}">Water Damage Gold Coast</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="{% url 'wollongong' %}">Wollongong</a>
                                                <ul>
                                                    <li><a href="{% url 'carpet_cleaning_wollongong' %}">Carpet Cleaning Wollongong</a></li>
                                                    <li><a href="{% url 'mattress_cleaning_wollongong' %}">Mattress Cleaning Wollongong</a></li>
                                                    <li><a href="{% url 'rug_cleaning_wollongong' %}">Rug Cleaning Wollongong</a></li>
                                                    <li><a href="{% url 'water_damage_wollongong' %}">Water Damage Wollongong</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="{% url 'canberra' %}">Canberra</a>
                                                <ul>
                                                    <li><a href="{% url 'carpet_cleaning_canberra' %}">Carpet Cleaning Canberra</a></li>
                                                    <li><a href="{% url 'mattress_cleaning_canberra' %}">Mattress Cleaning Canberra</a></li>
                                                    <li><a href="{% url 'rug_cleaning_canberra' %}">Rug Cleaning Canberra</a></li>
                                                    <li><a href="{% url 'water_damage_canberra' %}">Water Damage Canberra</a></li>
                                                </ul>
                                            </li>
    
                                            <li class="dropdown"><a href="{% url 'sydney' %}">Sydney</a>
                                                <ul>
                                                    <li><a href="{% url 'carpet_cleaning_sydney' %}">Carpet Cleaning Sydney</a></li>
                                                    <li><a href="{% url 'mattress_cleaning_sydney' %}">Mattress Cleaning Sydney</a></li>
                                                    <li><a href="{% url 'rug_cleaning_sydney' %}">Rug Cleaning Sydney</a></li>
                                                    <li><a href="{% url 'water_damage_sydney' %}">Water Damage Sydney</a></li>
                                                </ul>
                                            </li>
    
                                            <li><a href="{% url 'perth' %}">Perth</a></li>
    
                                            <li class="dropdown"><a href="{% url 'melbourne' %}">Melbourne</a>
                                                <ul>
                                                    <li><a href="{% url 'carpet_cleaning_melbourne' %}">Carpet Cleaning Melbourne</a></li>
                                                    <li><a href="{% url 'upholstery_cleaning_melbourne' %}">Upholstery Cleaning Melbourne</a></li>
                                                    <li><a href="{% url 'mattress_cleaning_melbourne' %}">Mattress Cleaning Melbourne</a></li>
                                                    <li><a href="{% url 'rug_cleaning_melbourne' %}">Rug Cleaning Melbourne</a></li>
                                                    <li><a href="{% url 'water_damage_melbourne' %}">Water Damage Melbourne</a></li>
                                                </ul>
                                            </li>
    
                                            <li class="dropdown"><a href="{% url 'brisbane' %}">Brisbane</a>
                                                <ul>
                                                    <li><a href="{% url 'carpet_cleaning_brisbane' %}">Carpet Cleaning Brisbane</a></li>
                                                    <li><a href="{% url 'mattress_cleaning_brisbane' %}">Mattress Cleaning Brisbane</a></li>
                                                    <li><a href="{% url 'sofa_cleaning_brisbane' %}">Sofa Cleaning Brisbane</a></li>
                                                    <li><a href="{% url 'rug_cleaning_brisbane' %}">Rug Cleaning Brisbane</a></li>
                                                    <li><a href="{% url 'water_damage_brisbane' %}">Water Damage Brisbane</a></li>
                                                </ul>
                                            </li>
    
                                            <li class="dropdown"><a href="{% url 'adelaide' %}">Adelaide</a>
                                                <ul>
                                                    <li><a href="{% url 'carpet_cleaning_adelaide' %}">Carpet Cleaning Adelaide</a></li>
                                                    <li><a href="{% url 'mattress_cleaning_adelaide' %}">Mattress Cleaning Adelaide</a></li>
                                                    <li><a href="{% url 'rug_cleaning_adelaide' %}">Rug Cleaning Adelaide</a></li>
                                                    <li><a href="{% url 'water_damage_adelaide' %}">Water Damage Adelaide</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'accreditations' %}">Accreditations</a></li>
                                    <li><a href="{% url 'home' %}">Instant Quote</a></li>
                                    <li><a href="#exampleModal" data-toggle="modal" data-target="#exampleModal">Contact Us</a></li>
                                </ul>
                            </div>
                        </nav>
                        <div class="shop-box">
                            <a href="https://www.facebook.com/pages/Drymaster-Carpet-Cleaning/561031333936630" target="_blank"><i class="fa fa-facebook-f ab14"></i></a>
                            <a href="https://twitter.com/drymastercc" target="_blank"><i class="fa fa-twitter ab14"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Bounce In Header-->
            <div class="bounce-in-header hidden-xs">
                <div class="container clearfix">
                    <div class="logo pull-left">
                        <a href="{% url 'index' %}" class="img-responsive"><img src="{% static 'myapp/images/logo.png' %}" alt="All Bright Carpet & Upholstery Cleaning Specialists"></a>
                    </div>
                    <div class="pull-right">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->      
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li class="current dropdown"><a href="index.html">Home</a></li>
                                    <li class="dropdown"><a href="{% url 'about' %}">About Us</a>
                                        <ul>
                                            <li><a href="{% url 'faq' %}">FAQ</a></li>
                                            <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a>
                                            </li>
                                            <li><a href="{% url 'terms_and_conditions' %}">Terms & Conditions</a>
                                            </li>
                                        </ul>
    
                                    </li>
    
                                    <li class="dropdown"><a href="#">Service</a>
                                        <ul>
                                            <li><a href="{% url 'carpet_steam_cleaning' %}">Carpet Steam Cleaning</a></li>
                                            <li><a href="{% url 'carpet_dry_cleanl' 5}">Carpet Dry Cleaning</a></li>
                                            <li><a href="{% url 'rug_cleaning' %}">Rug Cleaning</a></li>
                                            <li class="dropdown"><a href="#">Upholstery</a>
                                                <ul>
                                                    <li><a href="{% url 'leather_sofa_leaning' %}">Leather Sofa Cleaning</a></li>
                                                    <li><a href="{% url 'fabric_sofa_cleaning' %}">Fabric Sofa Cleaning</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'water_damage' %}">Water Damage</a></li>
                                            <li><a href="{% url 'tile_and_grout_cleaning' %}">Tile &#038; Grout</a></li>
                                            <li class="dropdown"><a href="#">Stains &#038; Spots</a>
                                                <ul>
                                                    <li><a href="{% url 'anti_allergen_cleaning' %}">Anti Allergen Cleaning</a></li>
                                                    <li><a href="{% url 'filtration_soiling' %}">Filtration Soiling</a></li>
                                                    <li><a href="{% url 'pet_stains_treatments' %}">Pet Stains &#038; Treatments</a></li>
                                                    <li><a href="{% url 'heavy_soiled_carpets' %}">Heavy Soiled Carpets</a></li>
                                                    <li><a href="{% url 'cleaning_agents' %}">Cleaning Agents</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{% url 'mattress_cleaning' %}">Mattress</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Service Location</a>
                                        <ul>
                                            <li class="dropdown"><a href="{% url 'newcastle' %}">Newcastle</a>
                                                <ul>
                                                    <li><a href="{% url 'carpet_cleaning_newcastle' %}">Carpet Cleaning Newcastle</a></li>
                                                    <li><a href="{% url 'mattress_cleaning_newcastle' %}">Mattress Cleaning Newcastle</a></li>
                                                    <li><a href="{% url 'rug_cleaning_newcastle' %}">Rug Cleaning Newcastle</a></li>
                                                    <li><a href="{% url 'water_damage_newcastle' %}">Water Damage Newcastle</a></li>
                                                </ul>
                                            </li>
    
                                            <li class="dropdown"><a href="{% url 'goldcoast' %}">Gold Coast</a>
                                                <ul>
                                                    <li><a href="{% url 'tile_cleaning_gold_coast' %}">Professional Tile Cleaning Gold Coast</a></li>
                                                    <li><a href="{% url 'rug_cleaning_gold_coast' %}">Rug Cleaning Gold Coast</a></li>
                                                    <li><a href="{% url 'sofa_cleaning_gold_coast' %}">Sofa Cleaning Gold Coast</a></li>
                                                    <li><a href="{% url 'mattress_cleaning_gold_coast' %}">Mattress Cleaning Gold Coast</a></li>
                                                    <li><a href="{% url 'water_damage_gold_coast' %}">Water Damage Gold Coast</a></li>
                                                </ul>
                                            </li>
    
                                            <li class="dropdown"><a href="{% url 'wollongong' %}">Wollongong</a>
                                                <ul>
                                                    <li><a href="{% url 'carpet_cleaning_wollongong' %}">Carpet Cleaning Wollongong</a></li>
                                                    <li><a href="{% url 'mattress_cleaning_wollongong' %}">Mattress Cleaning Wollongong</a></li>
                                                    <li><a href="{% url 'rug_cleaning_wollongong' %}">Rug Cleaning Wollongong</a></li>
                                                    <li><a href="{% url 'water_damage_wollongong' %}">Water Damage Wollongong</a></li>
                                                </ul>
                                            </li>
    
                                            <li class="dropdown"><a href="{% url 'canberra' %}">Canberra</a>
                                                <ul>
                                                    <li><a href="{% url 'carpet_cleaning_canberra' %}">Carpet Cleaning Canberra</a></li>
                                                    <li><a href="{% url 'mattress_cleaning_canberra' %}">Mattress Cleaning Canberra</a></li>
                                                    <li><a href="{% url 'rug_cleaning_canberra' %}">Rug Cleaning Canberra</a></li>
                                                    <li><a href="{% url 'water_damage_canberra' %}">Water Damage Canberra</a></li>
                                                </ul>
                                            </li>
    
                                            <li class="dropdown"><a href="{% url 'sydney' %}">Sydney</a>
                                                <ul>
                                                    <li><a href="{% url 'carpet_cleaning_sydney' %}">Carpet Cleaning Sydney</a></li>
                                                    <li><a href="{% url 'mattress_cleaning_sydney' %}">Mattress Cleaning Sydney</a></li>
                                                    <li><a href="{% url 'rug_cleaning_sydney' %}">Rug Cleaning Sydney</a></li>
                                                    <li><a href="{% url 'water_damage_sydney' %}">Water Damage Sydney</a></li>
                                                </ul>
                                            </li>
    
                                            <li><a href="{% url 'perth' %}">Perth</a></li>
    
                                            <li class="dropdown"><a href="{% url 'melbourne' %}">Melbourne</a>
                                                <ul>
                                                    <li><a href="{% url 'carpet_cleaning_melbourne' %}">Carpet Cleaning Melbourne</a></li>
                                                    <li><a href="{% url 'upholstery_cleaning_melbourne' %}">Upholstery Cleaning Melbourne</a></li>
                                                    <li><a href="{% url 'mattress_cleaning_melbourne' %}">Mattress Cleaning Melbourne</a></li>
                                                    <li><a href="{% url 'rug_cleaning_melbourne' %}">Rug Cleaning Melbourne</a></li>
                                                    <li><a href="{% url 'water_damage_melbourne' %}">Water Damage Melbourne</a></li>
                                                </ul>
                                            </li>
    
                                            <li class="dropdown"><a href="{% url 'brisbane' %}">Brisbane</a>
                                                <ul>
                                                    <li><a href="{% url 'carpet_cleaning_brisbane' %}">Carpet Cleaning Brisbane</a></li>
                                                    <li><a href="{% url 'mattress_cleaning_brisbane' %}">Mattress Cleaning Brisbane</a></li>
                                                    <li><a href="{% url 'sofa_cleaning_brisbane' %}">Sofa Cleaning Brisbane</a></li>
                                                    <li><a href="{% url 'rug_cleaning_brisbane' %}">Rug Cleaning Brisbane</a></li>
                                                    <li><a href="{% url 'water_damage_brisbane' %}">Water Damage Brisbane</a></li>
                                                </ul>
                                            </li>
    
                                            <li class="dropdown"><a href="{% url 'adelaide' %}">Adelaide</a>
                                                <ul>
                                                    <li><a href="{% url 'carpet_cleaning_adelaide' %}">Carpet Cleaning Adelaide</a></li>
                                                    <li><a href="{% url 'mattress_cleaning_adelaide' %}">Mattress Cleaning Adelaide</a></li>
                                                    <li><a href="{% url 'rug_cleaning_adelaide' %}">Rug Cleaning Adelaide</a></li>
                                                    <li><a href="{% url 'water_damage_adelaide' %}">Water Damage Adelaide</a></li>
                                                </ul>
                                            </li>
                                        </ul>
    
                                    </li>
                                    <li><a href="{% url 'accreditations' %}">Accreditations</a></li>
                                    <li><a href="{% url 'inde' %}">Instant Quote</a></li>
                                    <li><a data-toggle="modal" data-target="#exampleModal" href="#exampleModal">Contact Us</a></li><li>
                                        <div class="shop-box ab15">
                                            <a href="https://www.facebook.com/pages/Drymaster-Carpet-Cleaning/561031333936630" target="_blank">
                                                <i class="fa fa-facebook-f ab14"></i>
                                            </a>
                                            <a href="https://twitter.com/drymastercc" target="_blank">
                                                <i class="fa fa-twitter ab14"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
    </header>
    <!-- Main Header end -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- <div class="container-fluid"> -->
                    <div class="row">
                        <div class="col-lg-5">
                            <img src="drymaster/modal.jpg" alt="">
                        </div>
                        <div class="col-lg-7">
                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold">Write to us</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" style="color: #ff002d; font-size: 32px;">&times;</span>
                                    </button>
                            </div>
                            <div class="modal-body mx-3">
                                <div class="md-form mb-5">
                                    <input type="text" id="form34" placeholder="Please Enter Your Name:" class="form-control validate">
                                </div>
                                <div class="md-form mb-5">
                                    <input type="email" id="form29" class="form-control validate" placeholder="Please Enter Your Email Id:">
                                </div>
                                <div class="md-form mb-5">
                                    <input type="email" id="form29" class="form-control validate" placeholder="Please Enter Your Phone No:">
                                </div>
                                <div class="md-form mb-5">
                                    <input type="text" id="form32" class="form-control validate" placeholder="Suburb/Location:">
                                </div>
                                <div class="md-form">
                                    <textarea type="text" id="form8" class="md-textarea form-control" rows="4" placeholder="Your message"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                                <button type="button" class="btn mymd-btn" data-dismiss="modal">Submit</button>
                            </div>
                        </div>
                    </div>
                <!-- </div> -->
            </div>
        </div>
    </div>

    <!-- page heading start -->
    <section class="cs-page-heading-area page-top" style="background-image: url(images/bgs/08.png);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 animatedParent animateOnce">
                    <div class="cs-around-bdr animated bounceInDown slow">
                        <div class="cs-pageheading-box text-center">
                            <h2>Accreditations</h2>
                            <p><a href="index.html">Home</a> >> <a href="#">Accreditations</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <div class="container">
        <div class="row ab-top">
            <div class="col-lg-12">
                <h4 class="insane22">
                    Specialised Cleaning & Restoration Industry Association Australian Government Nationally Recognised Training Certification
                </h4>
                <div class="small-line3 mbn"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row ab-top insane23">
            <div class="col-lg-12">
                <p>
                    SCRIA members are among the most highly qualified carpet cleaning technicians in Australia and gain their training certification through a number of National & International institutions.  Additional specialist training is gained through organisations such as Woolsafe. Experience Even our newest member is only a phone call away from a network of members with vast experience and help to overcome any concerns.
                </p>

                <h4 class="insane21">Confidence</h4>
                <p>
                    Monthly meetings give our members the ability to swap ideas, exchange techniques, learn new skills and gain the confidence necessary to tackle even the most difficult jobs
                </p>

                <h4 class="insane21">Professionalism</h4>
                <p>
                    They may be just little things, but neat appearance, clean and well maintained equipment, prompt and courteous service, a safely set up work site … are trademarks of a professional operator.
                </p>

                <h4 class="insane21">Commitment</h4>
                <p>
                    SCRIA members commit to a strict code of ethics.  They have a personal commitment to keep up to date with the latest training and equipment and to provide the highest level of service to their customers.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="owl-demo2">
            <div class="item"><img class="team-img-my" src="drymaster/acc/03.png" alt=""></div>
            <div class="item"><img class="team-img-my" src="drymaster/acc/04.png" alt=""></div>
            <div class="item"><img class="team-img-my" src="drymaster/acc/05.jpg" alt=""></div>
            <div class="item"><img  class="team-img-my"src="drymaster/acc/07.png" alt=""></div>
            <div class="item"><img class="team-img-my" src="drymaster/acc/16.png" alt=""></div>
            <div class="item"><img class="team-img-my" src="drymaster/acc/17.png" alt=""></div>
            <div class="item"><img class="team-img-my" src="drymaster/acc/18.jpg" alt=""></div>
        </div>
    </div>

    <div class="container">
        <div class="row ab-top insane23">
            <div class="col-lg-12">
                <h4>SCRIA Members – Setting the standard!</h4>
                <h4 class="insane21">Carpet Need a Good Cleaning?</h4>
                <p>
                    New carpet can improve the appearance of any room, but how can carpet that is walked on every day stay looking new? While regular vacuuming helps maintain a carpet’s fresh appearance, fibres inevitably become soiled, resulting in a dulled appearance. It may be the time for a thorough cleaning.
                    <br><br>
                    To help your carpet look new again and ensure your complete satisfaction, the Institute of Inspection, Cleaning and Restoration Certification (IICRC) recommends hiring only certified professional carpet cleaners. Drymaster Carpet Cleaning technicians are IICRC certified and undergo ongoing training to keep informed of all the latest developments and techniques in the industry.<br><br>
                    Our technicians also undertake yearly exams to keep them certified.
                    <br><br>
                    When you employ Drymaster to clean your carpets and furniture you will be assured that a trained and certified technician will care for your valuable furnishings.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="owl-demo">
            <div class="item"><img class="team-img-my" src="drymaster/acc/01.jpg" alt=""></div>
            <div class="item"><img class="team-img-my" src="drymaster/acc/02.jpg" alt=""></div>
            <div class="item"><img class="team-img-my" src="drymaster/acc/06.bmp" alt=""></div>
            <div class="item"><img class="team-img-my" src="drymaster/acc/08.bmp" alt=""></div>
            <div class="item"><img class="team-img-my" src="drymaster/acc/09.jpg" alt=""></div>
            <div class="item"><img class="team-img-my" src="drymaster/acc/10.bmp" alt=""></div>
            <div class="item"><img class="team-img-my" src="drymaster/acc/11.bmp" alt=""></div>
            <div class="item"><img class="team-img-my" src="drymaster/acc/12.bmp" alt=""></div>
            <div class="item"><img class="team-img-my" src="drymaster/acc/13.bmp" alt=""></div>
            <div class="item"><img class="team-img-my" src="drymaster/acc/14.bmp" alt=""></div>
            <div class="item"><img class="team-img-my" src="drymaster/acc/15.jpg" alt=""></div>
        </div>
    </div>

    


    <!-- footer start -->
    <footer id="contact" class="cs-footer-area animatedParent animateOnce" style="background: url(images/bgs/07.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-sm-6">
                    <div class="cs-footer-col">
                       <a href="index.html"><img class="cs-footer-logo" src="drymaster/footer_logo.png" alt=""></a> 
                       <p>
                           With over 29 years of experience in the cleaning industry our reputation has grown and grown. And we owe it all to you, our clients.
                       </p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-sm-6">
                    <div class="cs-footer-col">
                        <h4>Our Locations</h4>
                        <ul class="cs-news-list">
                            <a href="wollongong.html"><li>Wollongong Carpet Cleaning</li></a>
                            <a href="goldcoast.html"><li>Gold Coast Carpet Cleaning</li></a>
                            <a href="newcastle.html"><li>Newcastle Carpet Cleaning</li></a>
                            <a href="adelaide.html"><li>Adelaide Carpet Cleaning</li></a>
                            <a href="perth.html"><li>Perth Carpet Cleaning</li></a>
                            <a href="brisbane.html"><li>Brisbane Carpet Cleaning</li></a>
                            <a href="canberra.html"><li>Canberra Carpet Cleaning</li></a>
                            <a href="sydney.html"><li>Sydney Carpet Cleaning</li></a>
                            <a href="melbourne.html"><li>Melbourne Carpet Cleaning</li></a>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-sm-6">
                    <div class="cs-footer-col">
                        <h4>Contact us</h4>
                        <ul class="cs-footer-contact">
                            <li>
                                <p style="font-size: 18px;"><span>Address :</span><br>
                                2/34 Moylan St, <br>Bentleigh East VIC <br>3165 Australia</p>
                            </li>
                            <li>
                                <p style="font-size: 18px;"><span>Call Us :</span><br>
                                <a href="tel:1300662188" style="color: #fff;">1300 662 188</p></a>
                            </li>
                            <li>
                                <p style="font-size: 18px;"><span>Email :</span><br>
                                <a href="mailto:office@carpetcleaning.com.au" style="color: #fff;">office@carpetcleaning.com.au</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-sm-6">
                    <div class="cs-footer-col">
                        <h4>Instagram</h4>
                        <div class="cs-flicker-img clearfix">
                            <ul>
                              <li class="animated bounceIn slow delay-250"><a href="images/flicker/01.jpg" class="lightbox-image" title="Drymaster Carpet Cleaning"><img src="drymaster/footer/1.jpg" alt=""></a></li>
                              <li class="animated bounceIn slow delay-500"><a href="images/flicker/02.jpg" class="lightbox-image" title="Drymaster Carpet Cleaning"><img src="drymaster/footer/2.jpg" alt=""></a></li>
                              <li class="animated bounceIn slow delay-750"><a href="images/flicker/03.jpg" class="lightbox-image" title="Drymaster Carpet Cleaning"><img src="drymaster/footer/3.jpg" alt=""></a></li>
                              <li class="animated bounceIn slow delay-1000"><a href="images/flicker/04.jpg" class="lightbox-image" title="Drymaster Carpet Cleaning"><img src="drymaster/footer/4.jpg" alt=""></a></li>
                              <li class="animated bounceIn slow delay-1250"><a href="images/flicker/05.jpg" class="lightbox-image" title="Drymaster Carpet Cleaning"><img src="drymaster/footer/5.jpg" alt=""></a></li>
                              <li class="animated bounceIn slow delay-1500"><a href="images/flicker/06.jpg" class="lightbox-image" title="Drymaster Carpet Cleaning"><img src="drymaster/footer/6.jpg" alt=""></a></li>
                              <li class="animated bounceIn slow delay-1250"><a href="images/flicker/05.jpg" class="lightbox-image" title="Drymaster Carpet Cleaning"><img src="drymaster/footer/7.jpg" alt=""></a></li>
                              <li class="animated bounceIn slow delay-1500"><a href="images/flicker/06.jpg" class="lightbox-image" title="Drymaster Carpet Cleaning"><img src="drymaster/footer/8.jpg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->

    <!-- copyright start -->
    <section class="cs-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>Copyright © 2019 Drymaster Carpet Cleaning. All rights reserved. Terms of Use and Privacy Policy.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- copyright end -->

    <!-- scroll-to-top start -->
    <a href="tel:1300662188" id="callnowbutton">
        <img class="ab30" src="img/call-answer.png" alt="">
        1300 662 188
    </a>
    <div class="scroll-to-top scroll-to-target" data-target=".page-top"><i class="fa fa-angle-double-up" aria-hidden="true"></i></div>
    <script src="{% static 'myapp/js/jquery.min.js' %}"></script> 
    <script src="{% static 'myapp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'myapp/js/revolution.min.js' %}"></script> 
    <script src="{% static 'myapp/js/jquery.fancybox.pack.js' %}"></script> 
    <script src="{% static 'myapp/js/jquery.fancybox-media.js' %}"></script>
    <script src="{% static 'myapp/js/jquery.flexslider-min.js' %}"></script>
    <script src="{% static 'myapp/js/jquery.isotope.js' %}"></script>
    <script src="{% static 'myapp/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'myapp/js/imagesloaded.js' %}"></script>
    <script src="{% static 'myapp/js/jquery.stellar.js' %}"></script>
    <script src="{% static 'myapp/js/css3-animate-it.js' %}"></script>
    <script src="{% static 'myapp/js/validate.js' %}"></script>
    <script src="{% static 'myapp/js/custom.js' %}"></script>


    <script src="drymaster/owl.js"></script>
    <script>
        $(document).ready(function() {
        $("#owl-demo").owlCarousel({
        autoPlay: 3000,
        items : 4,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3]
       });
    });
    </script>

    <script>
        $(document).ready(function() {
        $("#owl-demo2").owlCarousel({
        autoPlay: 3000,
        items : 4,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3]
       });
    });
    </script>

</body>
</html>