{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Call 0404 305 998 or Send Us A Message</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
    <!-- Animation -->
    <link rel="stylesheet" type="text/css" href="css/animations.css">
    <!-- Stylesheets -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
    <!-- Call Now -->
    <style>
        #callnowbutton {
            display: none;
        }
        
        @media screen and (max-width:650px) {
            #callnowbutton {
                display: block;
                position: fixed;
                text-decoration: none;
                z-index: 2147483647;
                width: 100%;
                left: 0;
                bottom: 0;
                height: 60px;
                border-top: 1px solid #2dc62d;
                border-bottom: 1px solid #006700;
                text-shadow: 0 1px #006700;
                text-align: center;
                color: #fff;
                font-weight: 600;
                font-size: 120%;
                overflow: hidden;
                padding-right: 20px;
                background: #009900;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            body {
                padding-bottom: 60px;
            }
        }
    </style>
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <style type='text/css'>
        .site-title a,
        .site-title a:visited {
            color: ffffff;
        }
    </style>
    <!-- End Of Call Now -->
</head>

<body>
    <!-- Preloader -->
    <!-- <div class="preloader"></div> -->
    <!-- Main Header / Style Three-->
    <header class="main-header header-style-three bg-top page-top">
        <!--Header-Lower-->
        <div class="header-lower">
            <div class="container">
                <div class="nav-outer clearfix">
                    <!--Logo-->
                    <div class="logo">
                        <a href="index.html"><img class="img-responsive" src="images/logo.png" alt="Dry Master Carpet Cleaning"></a>
                    </div>
                    <nav class="main-menu">
                        <div class="navbar-header">    
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li><a href="index.html">Home</a></li>
                                <li class="dropdown"><a href="about.html">About Us</a>
                                    <ul>
                                        <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="privacy_policy.html">Privacy Policy</a>
                                        </li>
                                        <li><a href="terms_and_conditions.html">Terms & Conditions</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Service</a>
                                    <ul>
                                        <li><a href="carpet_steam_cleaning.html">Carpet Steam Cleaning</a></li>
                                        <li><a href="carpet_dry_clean.html">Carpet Dry Cleaning</a></li>
                                        <li><a href="rug_cleaning.html">Rug Cleaning</a></li>
                                        <li class="dropdown"><a href="#">Upholstery</a>
                                            <ul>
                                                <li><a href="leather_sofa_leaning.html">Leather Sofa Cleaning</a></li>
                                                <li><a href="fabric_sofa_cleaning.html">Fabric Sofa Cleaning</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="water_damage.html">Water Damage</a></li>
                                        <li><a href="tile_and_grout_cleaning.html">Tile &#038; Grout</a></li>
                                        <li class="dropdown"><a href="#">Stains &#038; Spots</a>
                                            <ul>
                                                <li><a href="anti_allergen_cleaning.html">Anti Allergen Cleaning</a></li>
                                                <li><a href="filtration_soiling.html">Filtration Soiling</a></li>
                                                <li><a href="pet_stains_treatments.html">Pet Stains &#038; Treatments</a></li>
                                                <li><a href="heavy_soiled_carpets.html">Heavy Soiled Carpets</a></li>
                                                <li><a href="cleaning_agents.html">Cleaning Agents</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="mattress_cleaning.html">Mattress</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Service Location</a>
                                    <ul>
                                        <li class="dropdown"><a href="newcastle.html">Newcastle</a>
                                            <ul>
                                                <li><a href="carpet_cleaning_newcastle.html">Carpet Cleaning Newcastle</a></li>
                                                <li><a href="mattress_cleaning_newcastle.html">Mattress Cleaning Newcastle</a></li>
                                                <li><a href="rug_cleaning_newcastle.html">Rug Cleaning Newcastle</a></li>
                                                <li><a href="water_damage_newcastle.html">Water Damage Newcastle</a></li>
                                            </ul>
                                        </li>

                                        <li class="dropdown"><a href="goldcoast.html">Gold Coast</a>
                                            <ul>
                                                <li><a href="tile_cleaning_gold_coast.html">Professional Tile Cleaning Gold Coast</a></li>
                                                <li><a href="rug_cleaning_gold_coast.html">Rug Cleaning Gold Coast</a></li>
                                                <li><a href="sofa_cleaning_gold_coast.html">Sofa Cleaning Gold Coast</a></li>
                                                <li><a href="mattress_cleaning_gold_coast.html">Mattress Cleaning Gold Coast</a></li>
                                                <li><a href="water_damage_gold_coast.html">Water Damage Gold Coast</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="wollongong.html">Wollongong</a>
                                            <ul>
                                                <li><a href="carpet_cleaning_wollongong.html">Carpet Cleaning Wollongong</a></li>
                                                <li><a href="mattress_cleaning_wollongong.html">Mattress Cleaning Wollongong</a></li>
                                                <li><a href="rug_cleaning_wollongong.html">Rug Cleaning Wollongong</a></li>
                                                <li><a href="water_damage_wollongong.html">Water Damage Wollongong</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="canberra.html">Canberra</a>
                                            <ul>
                                                <li><a href="carpet_cleaning_canberra.html">Carpet Cleaning Canberra</a></li>
                                                <li><a href="mattress_cleaning_canberra.html">Mattress Cleaning Canberra</a></li>
                                                <li><a href="rug_cleaning_canberra.html">Rug Cleaning Canberra</a></li>
                                                <li><a href="water_damage_canberra.html">Water Damage Canberra</a></li>
                                            </ul>
                                        </li>

                                        <li class="dropdown"><a href="sydney.html">Sydney</a>
                                            <ul>
                                                <li><a href="carpet_cleaning_sydney.html">Carpet Cleaning Sydney</a></li>
                                                <li><a href="mattress_cleaning_sydney.html">Mattress Cleaning Sydney</a></li>
                                                <li><a href="rug_cleaning_sydney.html">Rug Cleaning Sydney</a></li>
                                                <li><a href="water_damage_sydney.html">Water Damage Sydney</a></li>
                                            </ul>
                                        </li>

                                        <li><a href="perth.html">Perth</a></li>

                                        <li class="dropdown"><a href="melbourne.html">Melbourne</a>
                                            <ul>
                                                <li><a href="carpet_cleaning_melbourne.html">Carpet Cleaning Melbourne</a></li>
                                                <li><a href="upholstery_cleaning_melbourne.html">Upholstery Cleaning Melbourne</a></li>
                                                <li><a href="mattress_cleaning_melbourne.html">Mattress Cleaning Melbourne</a></li>
                                                <li><a href="rug_cleaning_melbourne.html">Rug Cleaning Melbourne</a></li>
                                                <li><a href="water_damage_melbourne.html">Water Damage Melbourne</a></li>
                                            </ul>
                                        </li>

                                        <li class="dropdown"><a href="brisbane.html">Brisbane</a>
                                            <ul>
                                                <li><a href="carpet_cleaning_brisbane.html">Carpet Cleaning Brisbane</a></li>
                                                <li><a href="mattress_cleaning_brisbane.html">Mattress Cleaning Brisbane</a></li>
                                                <li><a href="sofa_cleaning_brisbane.html">Sofa Cleaning Brisbane</a></li>
                                                <li><a href="rug_cleaning_brisbane.html">Rug Cleaning Brisbane</a></li>
                                                <li><a href="water_damage_brisbane.html">Water Damage Brisbane</a></li>
                                            </ul>
                                        </li>

                                        <li class="dropdown"><a href="adelaide.html">Adelaide</a>
                                            <ul>
                                                <li><a href="carpet_cleaning_adelaide.html">Carpet Cleaning Adelaide</a></li>
                                                <li><a href="mattress_cleaning_adelaide.html">Mattress Cleaning Adelaide</a></li>
                                                <li><a href="rug_cleaning_adelaide.html">Rug Cleaning Adelaide</a></li>
                                                <li><a href="water_damage_adelaide.html">Water Damage Adelaide</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="accreditations.html">Accreditations</a></li>
                                <li><a href="cleanto/index.html">Instant Quote</a></li>
                                <li><a href="#exampleModal" data-toggle="modal" data-target="#exampleModal">Contact Us</a></li>
                            </ul>
                        </div>
                    </nav>
                    <div class="shop-box">
                        <a href="https://www.facebook.com/pages/Drymaster-Carpet-Cleaning/561031333936630" target="_blank"><i class="fa fa-facebook-f ab14"></i></a>
                        <a href="https://twitter.com/drymastercc" target="_blank"><i class="fa fa-twitter ab14"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!--Bounce In Header-->
        <div class="bounce-in-header hidden-xs">
            <div class="container clearfix">
                <div class="logo pull-left">
                    <a href="index.html" class="img-responsive"><img src="images/logo.png" alt="All Bright Carpet & Upholstery Cleaning Specialists"></a>
                </div>
                <div class="pull-right">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="current dropdown"><a href="index.html">Home</a></li>
                                <li class="dropdown"><a href="about.html">About Us</a>
                                    <ul>
                                        <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="privacy_policy.html">Privacy Policy</a>
                                        </li>
                                        <li><a href="terms_and_conditions.html">Terms & Conditions</a>
                                        </li>
                                    </ul>

                                </li>

                                <li class="dropdown"><a href="#">Service</a>
                                    <ul>
                                        <li><a href="carpet_steam_cleaning.html">Carpet Steam Cleaning</a></li>
                                        <li><a href="carpet_dry_clean.html">Carpet Dry Cleaning</a></li>
                                        <li><a href="rug_cleaning.html">Rug Cleaning</a></li>
                                        <li class="dropdown"><a href="#">Upholstery</a>
                                            <ul>
                                                <li><a href="leather_sofa_leaning.html">Leather Sofa Cleaning</a></li>
                                                <li><a href="fabric_sofa_cleaning.html">Fabric Sofa Cleaning</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="water_damage.html">Water Damage</a></li>
                                        <li><a href="tile_and_grout_cleaning.html">Tile &#038; Grout</a></li>
                                        <li class="dropdown"><a href="#">Stains &#038; Spots</a>
                                            <ul>
                                                <li><a href="anti_allergen_cleaning.html">Anti Allergen Cleaning</a></li>
                                                <li><a href="filtration_soiling.html">Filtration Soiling</a></li>
                                                <li><a href="pet_stains_treatments.html">Pet Stains &#038; Treatments</a></li>
                                                <li><a href="heavy_soiled_carpets.html">Heavy Soiled Carpets</a></li>
                                                <li><a href="cleaning_agents.html">Cleaning Agents</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="mattress_cleaning.html">Mattress</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="#">Service Location</a>
                                    <ul>
                                        <li class="dropdown"><a href="newcastle.html">Newcastle</a>
                                            <ul>
                                                <li><a href="carpet_cleaning_newcastle.html">Carpet Cleaning Newcastle</a></li>
                                                <li><a href="mattress_cleaning_newcastle.html">Mattress Cleaning Newcastle</a></li>
                                                <li><a href="rug_cleaning_newcastle.html">Rug Cleaning Newcastle</a></li>
                                                <li><a href="water_damage_newcastle.html">Water Damage Newcastle</a></li>
                                            </ul>
                                        </li>

                                        <li class="dropdown"><a href="goldcoast.html">Gold Coast</a>
                                            <ul>
                                                <li><a href="tile_cleaning_gold_coast.html">Professional Tile Cleaning Gold Coast</a></li>
                                                <li><a href="rug_cleaning_gold_coast.html">Rug Cleaning Gold Coast</a></li>
                                                <li><a href="sofa_cleaning_gold_coast.html">Sofa Cleaning Gold Coast</a></li>
                                                <li><a href="mattress_cleaning_gold_coast.html">Mattress Cleaning Gold Coast</a></li>
                                                <li><a href="water_damage_gold_coast.html">Water Damage Gold Coast</a></li>
                                            </ul>
                                        </li>

                                        <li class="dropdown"><a href="wollongong.html">Wollongong</a>
                                            <ul>
                                                <li><a href="carpet_cleaning_wollongong.html">Carpet Cleaning Wollongong</a></li>
                                                <li><a href="mattress_cleaning_wollongong.html">Mattress Cleaning Wollongong</a></li>
                                                <li><a href="rug_cleaning_wollongong.html">Rug Cleaning Wollongong</a></li>
                                                <li><a href="water_damage_wollongong.html">Water Damage Wollongong</a></li>
                                            </ul>
                                        </li>

                                        <li class="dropdown"><a href="canberra.html">Canberra</a>
                                            <ul>
                                                <li><a href="carpet_cleaning_canberra.html">Carpet Cleaning Canberra</a></li>
                                                <li><a href="mattress_cleaning_canberra.html">Mattress Cleaning Canberra</a></li>
                                                <li><a href="rug_cleaning_canberra.html">Rug Cleaning Canberra</a></li>
                                                <li><a href="water_damage_canberra.html">Water Damage Canberra</a></li>
                                            </ul>
                                        </li>

                                        <li class="dropdown"><a href="sydney.html">Sydney</a>
                                            <ul>
                                                <li><a href="carpet_cleaning_sydney.html">Carpet Cleaning Sydney</a></li>
                                                <li><a href="mattress_cleaning_sydney.html">Mattress Cleaning Sydney</a></li>
                                                <li><a href="rug_cleaning_sydney.html">Rug Cleaning Sydney</a></li>
                                                <li><a href="water_damage_sydney.html">Water Damage Sydney</a></li>
                                            </ul>
                                        </li>

                                        <li><a href="perth.html">Perth</a></li>

                                        <li class="dropdown"><a href="melbourne.html">Melbourne</a>
                                            <ul>
                                                <li><a href="carpet_cleaning_melbourne.html">Carpet Cleaning Melbourne</a></li>
                                                <li><a href="upholstery_cleaning_melbourne.html">Upholstery Cleaning Melbourne</a></li>
                                                <li><a href="mattress_cleaning_melbourne.html">Mattress Cleaning Melbourne</a></li>
                                                <li><a href="rug_cleaning_melbourne.html">Rug Cleaning Melbourne</a></li>
                                                <li><a href="water_damage_melbourne.html">Water Damage Melbourne</a></li>
                                            </ul>
                                        </li>

                                        <li class="dropdown"><a href="brisbane.html">Brisbane</a>
                                            <ul>
                                                <li><a href="carpet_cleaning_brisbane.html">Carpet Cleaning Brisbane</a></li>
                                                <li><a href="mattress_cleaning_brisbane.html">Mattress Cleaning Brisbane</a></li>
                                                <li><a href="sofa_cleaning_brisbane.html">Sofa Cleaning Brisbane</a></li>
                                                <li><a href="rug_cleaning_brisbane.html">Rug Cleaning Brisbane</a></li>
                                                <li><a href="water_damage_brisbane.html">Water Damage Brisbane</a></li>
                                            </ul>
                                        </li>

                                        <li class="dropdown"><a href="adelaide.html">Adelaide</a>
                                            <ul>
                                                <li><a href="carpet_cleaning_adelaide.html">Carpet Cleaning Adelaide</a></li>
                                                <li><a href="mattress_cleaning_adelaide.html">Mattress Cleaning Adelaide</a></li>
                                                <li><a href="rug_cleaning_adelaide.html">Rug Cleaning Adelaide</a></li>
                                                <li><a href="water_damage_adelaide.html">Water Damage Adelaide</a></li>
                                            </ul>
                                        </li>
                                    </ul>

                                </li>
                                <li><a href="accreditations.html">Accreditations</a></li>
                                <li><a href="cleanto/index.html">Instant Quote</a></li>
                                <li><a data-toggle="modal" data-target="#exampleModal" href="#exampleModal">Contact Us</a></li><li>
                                    <div class="shop-box ab15">
                                        <a href="https://www.facebook.com/pages/Drymaster-Carpet-Cleaning/561031333936630" target="_blank">
                                            <i class="fa fa-facebook-f ab14"></i>
                                        </a>
                                        <a href="https://twitter.com/drymastercc" target="_blank">
                                            <i class="fa fa-twitter ab14"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Header end -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- <div class="container-fluid"> -->
                    <div class="row">
                        <div class="col-lg-5">
                            <img src="drymaster/modal.jpg" alt="">
                        </div>
                        <div class="col-lg-7">
                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold">Write to us</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" style="color: #ff002d; font-size: 32px;">&times;</span>
                                    </button>
                            </div>
                            <div class="modal-body mx-3">
                                <div class="md-form mb-5">
                                    <input type="text" id="form34" placeholder="Please Enter Your Name:" class="form-control validate">
                                </div>
                                <div class="md-form mb-5">
                                    <input type="email" id="form29" class="form-control validate" placeholder="Please Enter Your Email Id:">
                                </div>
                                <div class="md-form mb-5">
                                    <input type="email" id="form29" class="form-control validate" placeholder="Please Enter Your Phone No:">
                                </div>
                                <div class="md-form mb-5">
                                    <input type="text" id="form32" class="form-control validate" placeholder="Suburb/Location:">
                                </div>
                                <div class="md-form">
                                    <textarea type="text" id="form8" class="md-textarea form-control" rows="4" placeholder="Your message"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                                <button type="button" class="btn mymd-btn" data-dismiss="modal">Submit</button>
                            </div>
                        </div>
                    </div>
                <!-- </div> -->
            </div>
        </div>
    </div>

    <!-- page heading start -->
    <section class="cs-page-heading-area" style="background-image: url(images/bgs/08.png);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 animatedParent animateOnce">
                    <div class="cs-around-bdr animated bounceInDown slow">
                        <div class="cs-pageheading-box text-center">
                            <h2>Contact</h2>
                            <p><a href="index.html">Home</a> >> <a href="contact.html">Contact</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- page heading end -->

    <!-- contact 1 start -->
    <section class="contact-1">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="contact-item">
                            <div class="content">
                                <h5>contact us : </h5>
                                <p>4 Mundulla Ave,
                                    <br>Woodcroft SA 5162,
                                    <br>Australia</p>
                            </div>
                            <span class="icon icon-Starship"></span>
                        </div>
                        <div class="contact-item">
                            <div class="content">
                                <h5>call us : </h5>
                                <a href="tel:0404305998">
                                    <p>0 404 305 998
                                        <br>
                                        <br>
                                    </p>
                                </a>
                                <h5>mail us : </h5>
                                <a href="mailto:r.j.montgomery@outlook.com">
                                    <p>r.j.montgomery@outlook.com</p>
                                </a>
                            </div>
                            <span class="icon icon-Phone2"></span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <!-- Form Extra -->
                        <!-- <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_service">Select Your Services</label>
                                                  <select type="text" id="service" class="form-control" name="service">
                                                    <option>Select Your Services</option>
                                                    <option>Upholstery Steam Cleaning</option>
                                                    <option>Tile & Grout Cleaning</option>
                                                    <option>Carpet & Upholstery Protector</option>
                                                    <option>Mattress Steam Cleaning</option>
                                                    <option>Car Interior Steam Cleaning</option>
                                                    <option>Leather Cleaning</option>
                                                  </select>
                                            </div>
                            </div> -->
                        <!-- <form class="contact-form" action="mailone.html" method="post" role="form">
                                <div class="messages"></div>
                                <div class="controls">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_name">Name *</label>
                                                <input id="name" type="text" name="name" class="form-control" placeholder="Please enter your full name *" required="required" data-error="Name is required.">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_lastname">Phone *</label>
                                                <input id="phone" type="text" name="phone" class="form-control" placeholder="Please enter your phone *" required="required" data-error="Phone number is required.">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_email">Email *</label>
                                                <input id="email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_email">Services *</label>
                                                <input id="service" type="text" name="service" class="form-control" placeholder="Please put the required service *" required="required" data-error="Valid email is required.">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div> 

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="form_message">Message *</label>
                                                <textarea id="message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button class="btn btn-primary" name="submit" type="submit" value="submit" >Send Message</button>
                                        </div>
                                    </div>
                                </div>
                              </form> -->
                        <!-- Contact Form -->
                        <h2>send us <span>message</span> </h2>
                        <form id="contact_form" name="contact_form" action="mailone.html" method="post">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input id="name" name="name" class="form-control" type="text" placeholder="Plese Enter Your Full Name *" required="">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input id="phone" name="phone" class="form-control" type="text" placeholder="Please Enter Your Phone No.*">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input id="email" name="email" class="form-control required" type="email" placeholder="Please Enter Your Email *">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea id="message" name="message" class="form-control required" rows="7" placeholder="Message For Me  *"></textarea>
                            </div>

                            <div class="row ab13 ab-left">
                                <h4 class="input-set-label">Select Service</h4>
                                <input id="service" type="radio" name="service" value="Upholstery Steam Cleaning" class="ga-radio">
                                <label for="service" class="ab27">Upholstery Steam Cleaning</label>
                                <input id="service" type="radio" name="service" value="Tile & Grout Cleaning" class="">
                                <label for="service" class="ab27">Tile & Grout Cleaning</label>
                                <input id="service" type="radio" name="service" value="Carpet & Upholstery Protector" class="ga-radio">
                                <label for="service" class="ab27">Carpet & Upholstery Protector</label>
                                <div class="row ab28 ab-13">
                                    <input id="service" type="radio" name="service" value="Mattress Steam Cleaning" class="ga-radio">
                                    <label for="service_type4" class="ab27">Mattress Steam Cleaning</label>
                                    <input id="service" type="radio" name="service" value="Car Interior Steam Cleaning" class="ga-radio">
                                    <label for="service" class="ab27">Car Interior Steam Cleaning</label>
                                    <input id="service" type="radio" name="service" value="Leather Cleaning" class="ga-radio">
                                    <label for="service" class="ab27">Leather Cleaning</label>
                                </div>
                            </div>
                                <div class="form-group cs-mar-0">
                                    <input name="form_botcheck" class="form-control" type="hidden" value="">
                                    <button class="btn btn-default cs-my-btn" name="submit" type="submit" value="submit" data-loading-text="Please wait...">Send Us</button>
                                </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- contact 1 end -->

    <div class="mapouter">
        <div class="gmap_canvas">
            <iframe width="100%" height="350" id="gmap_canvas" src="https://maps.google.com/maps?q=All%20Bright%20Carpet%20%26%20Upholstery%20Cleaning%20Woodcroft%20SA%20%E2%80%93%205162&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
            </iframe>
            <a href="https://www.pureblack.de">
            </a>
        </div>
        <style>
            .mapouter {
                text-align: right;
                height: 350px;
                width: 100%;
            }
            
            .gmap_canvas {
                overflow: hidden;
                background: none!important;
                height: 350px;
                width: 100%;
            }
        </style>
        <a href="#" rel="nofollow" target="_blank">
        </a>
    </div>

    <!-- footer start -->
    <footer id="contact" class="cs-footer-area animatedParent animateOnce" style="background: url(images/bgs/07.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-sm-6">
                    <div class="cs-footer-col">
                       <a href="index.html"><img class="cs-footer-logo" src="drymaster/footer_logo.png" alt=""></a> 
                       <p>
                           With over 29 years of experience in the cleaning industry our reputation has grown and grown. And we owe it all to you, our clients.
                       </p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-sm-6">
                    <div class="cs-footer-col">
                        <h4>Our Locations</h4>
                        <ul class="cs-news-list">
                            <a href="wollongong.html"><li>Wollongong Carpet Cleaning</li></a>
                            <a href="goldcoast.html"><li>Gold Coast Carpet Cleaning</li></a>
                            <a href="newcastle.html"><li>Newcastle Carpet Cleaning</li></a>
                            <a href="adelaide.html"><li>Adelaide Carpet Cleaning</li></a>
                            <a href="perth.html"><li>Perth Carpet Cleaning</li></a>
                            <a href="brisbane.html"><li>Brisbane Carpet Cleaning</li></a>
                            <a href="canberra.html"><li>Canberra Carpet Cleaning</li></a>
                            <a href="sydney.html"><li>Sydney Carpet Cleaning</li></a>
                            <a href="melbourne.html"><li>Melbourne Carpet Cleaning</li></a>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-sm-6">
                    <div class="cs-footer-col">
                        <h4>Contact us</h4>
                        <ul class="cs-footer-contact">
                            <li>
                                <p style="font-size: 18px;"><span>Address :</span><br>
                                2/34 Moylan St, <br>Bentleigh East VIC <br>3165 Australia</p>
                            </li>
                            <li>
                                <p style="font-size: 18px;"><span>Call Us :</span><br>
                                <a href="tel:1300662188" style="color: #fff;">1300 662 188</p></a>
                            </li>
                            <li>
                                <p style="font-size: 18px;"><span>Email :</span><br>
                                <a href="mailto:office@carpetcleaning.com.au" style="color: #fff;">office@carpetcleaning.com.au</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-sm-6">
                    <div class="cs-footer-col">
                        <h4>Instagram</h4>
                        <div class="cs-flicker-img clearfix">
                            <ul>
                              <li class="animated bounceIn slow delay-250"><a href="images/flicker/01.jpg" class="lightbox-image" title="Drymaster Carpet Cleaning"><img src="drymaster/footer/1.jpg" alt=""></a></li>
                              <li class="animated bounceIn slow delay-500"><a href="images/flicker/02.jpg" class="lightbox-image" title="Drymaster Carpet Cleaning"><img src="drymaster/footer/2.jpg" alt=""></a></li>
                              <li class="animated bounceIn slow delay-750"><a href="images/flicker/03.jpg" class="lightbox-image" title="Drymaster Carpet Cleaning"><img src="drymaster/footer/3.jpg" alt=""></a></li>
                              <li class="animated bounceIn slow delay-1000"><a href="images/flicker/04.jpg" class="lightbox-image" title="Drymaster Carpet Cleaning"><img src="drymaster/footer/4.jpg" alt=""></a></li>
                              <li class="animated bounceIn slow delay-1250"><a href="images/flicker/05.jpg" class="lightbox-image" title="Drymaster Carpet Cleaning"><img src="drymaster/footer/5.jpg" alt=""></a></li>
                              <li class="animated bounceIn slow delay-1500"><a href="images/flicker/06.jpg" class="lightbox-image" title="Drymaster Carpet Cleaning"><img src="drymaster/footer/6.jpg" alt=""></a></li>
                              <li class="animated bounceIn slow delay-1250"><a href="images/flicker/05.jpg" class="lightbox-image" title="Drymaster Carpet Cleaning"><img src="drymaster/footer/7.jpg" alt=""></a></li>
                              <li class="animated bounceIn slow delay-1500"><a href="images/flicker/06.jpg" class="lightbox-image" title="Drymaster Carpet Cleaning"><img src="drymaster/footer/8.jpg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->

    <!-- copyright start -->
    <section class="cs-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>© Copyright 2019 - RK Web Solutions</p>
                </div>
            </div>
        </div>
    </section>
    <!-- copyright end -->

    <!-- scroll-to-top start -->
    <a href="tel:0404305998" id="callnowbutton"><img class="ab30" src="img/call-answer.png" alt=""> CALL All Bright</a>
    <div class="scroll-to-top scroll-to-target" data-target=".page-top"><i class="fa fa-angle-double-up" aria-hidden="true"></i></div>
    <!-- scroll-to-top end -->
    
    
    
    <script src="js/owl.js"></script>
    <script src="js/map-script.js"></script>
    <script src="contact-form/validator.js"></script>
    <script src="contact-form/contact.js"></script>
    
    <script src="{% static 'myapp/js/jquery.min.js' %}"></script> 
    <script src="{% static 'myapp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'myapp/js/revolution.min.js' %}"></script> 
    <script src="{% static 'myapp/js/jquery.fancybox.pack.js' %}"></script> 
    <script src="{% static 'myapp/js/jquery.fancybox-media.js' %}"></script>
    <script src="{% static 'myapp/js/jquery.flexslider-min.js' %}"></script>
    <script src="{% static 'myapp/js/jquery.isotope.js' %}"></script>
    <script src="{% static 'myapp/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'myapp/js/imagesloaded.js' %}"></script>
    <script src="{% static 'myapp/js/jquery.stellar.js' %}"></script>
    <script src="{% static 'myapp/js/css3-animate-it.js' %}"></script>
    <script src="{% static 'myapp/js/validate.js' %}"></script>
    <script src="{% static 'myapp/js/custom.js' %}"></script>

</body>
</html>